# Ignore all content in folders except .gitignore files:
# core/.gitignore
# core/modules/.gitignore
# datasets/.gitignore
# files/.gitignore

!core/.gitignore
!core/modules/.gitignore
!datasets/.gitignore
!files/.gitignore

